<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fridge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header class='navigation'>
        <span><a href='../items/new'>ADD</a></span>
        <span>
            <a href="../items" class="fridge-title">HOME</a>
        </span>
        <span><a href='../items/fridge'>FRIDGE</a></span>
        <span><a href='../items/freezer'>FREEZER</a></span>
        <span><a href='../items/cupboard'>CUPBOARD</a></span>
        <% if (user) { %>
        <span class='oauth'>
            <a class='oauth' href="/logout"><i class="material-icons left"></i>LOG OUT</a>
            <% } else { %>
            <a class='oauth' href="/auth/google"><i class="material-icons left"></i>LOG IN</a>
            <% } %>
        </span>
    </header>
</body>

</html>