<%- include('./partials/header.ejs')%>
<section class='welcome'>
    <h1>Welcome to [WORKING TITLE]</h1>
    <button class='indexLogin'><a href="/auth/google"><i class="material-icons left"></i>Log In With Google</a></button>
</section>