body {
  background-color: rgb(173, 228, 228);

  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(20, 43, 43);
}

a {
  color: rgb(123, 218, 218);
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: rgb(83, 163, 163);
  color: rgb(20, 43, 43);

  width: 100vw;
  height: 7.5vh;
  margin-top: -10px;
}

.navigation > span {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.oauth {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style-type: none;
}

.navigation > span :hover {
  color: white;
  text-decoration: underline;
}

.add-page {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.add-main {
  grid-column: 2;
}

.indexLogin {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgb(10, 119, 119);
  text-align: center;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  display: block;
}
.indexLogin :hover {
  display: block;
  color: white;
}

.indexLogin:active {
  background-color: teal;
  display: block;
}

.welcome > h1 {
  text-align: center;
}

.add-page{
display: box;
width: 80vw;
margin-left: auto;
margin-right: auto;
}

input {
  background-color: rgb(213, 247, 247);
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: rgb(20, 43, 43);
  font-size: 16px;
}
select {
  background-color:  rgb(213, 247, 247);
  border: none;
  padding: 5px;
  font-size: 16px;
  color: rgb(20, 43, 43);
}

.itemInput {
  border: none;
  color: rgb(173, 228, 228);
  background-color: rgb(83, 163, 163);
  font-size: 18px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.05);
}
.itemInput:hover {
  color: white;
}
.itemInput:active {
  background-color: teal;
}
input[type="radio"] {
  display: flex;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  align-content: baseline;
  outline: none;
  color: rgb(173, 228, 228);
  background-color:  rgb(213, 247, 247);
  align-items: baseline;
}
input[type="radio"]:checked {
  background-color: rgb(83, 163, 163);
}


.location-container {
 border: 2px dashed rgb(83, 163, 163);
 width: 100px;
 padding-left: 40px;
 padding-right: 10px;
 padding-bottom: 10px;
 margin-top: 10px;
}

.list-item {
  display: flex;
  align-items: baseline;
  font-size: 18px;
}

.item-container {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
}

.item-table {
display: grid;
grid-column: 2;
grid-template-columns: 1fr 1fr 1fr;
justify-content: left;
border: 3px dotted rgb(83, 163, 163);
padding-left: 10%;
padding-right: -10%;
padding-bottom: 10%;


}

.item-name {
grid-column: 1;
display: flex;
justify-content: left;
}

.item-exp {
  grid-column: 2;
  justify-content: flex-start;

}

.item-delete {
  grid-column: 3;

}