<%-include('../partials/header') %>
<h1 class='location-title'>Overview</h1>
<%-include('../partials/render') %>

<% if (items._id === (user && user._id)) { %>
<div class="card-action">
    <form action="/items" method="POST">
        <input type="text" name="text" class="white-text">
        <button type="submit" class="btn white-text">Add item</button>
    </form>
</div>
<% } %>
</ul>