<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fridge</title>
</head>
<body>

    <a href="" class="brand-logo left">Fridge App (Working Title)</a>

    <ul class="right">
        <li>
        <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
        <% } else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Log in with Google</a>
        <% } %>
        </li>
    </ul>
   
</body>
</html>