<%-include('../partials/header') %>
<h1>ADD ITEM</h1>

<h3>Please Add A New Item</h3>

<form action='/items/index' method='POST'>

    <div>Food Name: <input type='text' name='foodName'> </div>






</form>