<%-include('../partials/header') %>
<title>Add Item</title>
<form action='/items/' method='POST'>
    <h3>Please Add A New Item</h3>
    <div>Food Name: <input type='text' name='foodName'> </div>
    <div>Food Type: <input type='text' name='foodType'> </div>
    <div>Expiration Date: <input type='text' name='expirationDate'></div>
    <div>Storage Location: <input type='text' name='location'></div>
    <button type='submit'>Submit Item</button>
</form>